<template lang="html">
    <ul class="current-weather__list">
        <li class="current-weather__item">Город:
            <span>{{ weather.name }}, {{ weather.country }}</span>
        </li>
        <li class="current-weather__item">Температура: <span>{{ weather.temp }} &deg;С</span></li>
        <li class="current-weather__item">Ветер: <span>{{ weather.wind }} м/с.</span></li>
        <li class="current-weather__item">Давление: <span>{{ weather.pressure }} гПа.</span></li>
        <li class="current-weather__item icon">
            <img v-if="weather.icon" :src="`http://openweathermap.org/img/w/${weather.icon}.png`" alt=""/>
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            weather: {type: Object}
        }
    }
</script>

<style lang="scss" scoped>

    .current-weather {
        &__list {
            position: relative;
            padding-right: 80px;
        }

        &__item {

            display: flex;

            @media only screen and (max-width: 480px) {
                font-size: 14px;
            }

            @media only screen and (max-width: 375px) {
                flex-direction: column;

                & > span {
                    margin-top: 7px;
                    margin-left: 0 !important;
                }
            }

            & > span {
                margin-left: auto;
            }

            &:not(.icon):not(:nth-last-child(2)) {
                border-bottom: 1px solid var(--primary);
            }

            &:not(.icon) {
                padding: 7px 0 8px;
            }

            &.icon {
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 50px;

                img {
                    max-width: 100%;
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }

</style>