<template lang="html">
    <div class="wrapper">
        <form @submit.prevent="onSubmitFn">
            <div class="input-field">
                <input type="text" class="input-field__input" name="city" id="city" v-model.trim="city" ref="input"/>
                <button class="input-field__button">Найти</button>
                <span class="input-field__error" v-if="error && !errorCity">Введите город.</span>
                <span class="input-field__error" v-if="errorCity && !error">Проверьте введеные данные.</span>
            </div>
        </form>
        <div class="current-weather">
            <div class="current-weather__loader" v-show="loading">
                <img src="../assets/images/loader.gif" alt="">
            </div>
            <div class="current-weather__container"
                 v-if="currentWeather && Object.keys(currentWeather).length > 0 && !loading"
            >
                <Current-Weather :weather="currentWeather"/>
                <div class="current-weather__controls">
                    <button type="button" @click="saveCurrentWeather" title="Добавить в избранное">
                        <svg viewBox="0 0 53 53">
                            <use xlink:href="#add-item"/>
                        </svg>
                    </button>
                    <button type="button" @click="clearCurrentWeather" title="Очистить данные">
                        <svg viewBox="-40 0 427 427.00131" class="delete-item">
                            <use xlink:href="#delete-item"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CurrentWeather from './Current_Weather';
    import {mapGetters} from 'vuex';

    export default {
        components: {
            'Current-Weather': CurrentWeather
        },
        data: () => ({
            city: '',
            loading: false,
            error: false,
            errorCity: false
        }),
        computed: {
            ...mapGetters(['currentWeather'])
        },
        methods: {
            onSubmitFn: async function () {
                if (this.city) {
                    this.loading = true;
                    const response = await this.$store.dispatch('findCurrentWeatherOfCity', {
                        city: this.city,
                        isNew: true
                    });

                    // город не найден
                    if (!response) {
                        this.errorCity = true;
                        this.clearFieldOnClickInput();
                        setTimeout(() => {
                            this.errorCity = false;
                            this.city = '';
                            this.$refs.input.removeEventListener('focus', () => {});
                        }, 3e3)
                    }

                    this.loading = false;
                    this.city = ''
                } else {
                    this.error = true;
                    this.clearFieldOnClickInput();
                    setTimeout(() => {
                        this.error = false;
                        this.$refs.input.removeEventListener('focus', () => {});
                    }, 3e3)
                }
            },
            clearCurrentWeather: function () {
                this.$store.commit('clearCurrentWeather');
                this.city = ''
            },
            saveCurrentWeather: async function () {
                const response = await this.$store.dispatch('saveCurrentWeatherToUserList', this.currentWeather);
                let message = response ? 'Сохраненно' : 'Есть в списке';
                this.$M.toast({html: message});
            },
            clearFieldOnClickInput: function () {
                this.clearCurrentWeather();
                this.$refs.input.addEventListener('focus', () => {
                    if (this.error) {
                        this.error = false;
                    } else if (this.errorCity) {
                        this.errorCity = false;
                        this.city = ''
                    }
                    this.$refs.input.removeEventListener('focus', () => {});
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .input-field {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;

        &__input {
            background: none;
            border: 1px solid var(--primary) !important;
            max-width: 400px;
            width: 100%;
            height: 40px !important;
            padding: 4px 10px 5px !important;
            border-radius: 4px 0 0 4px !important;
            margin: 0 !important;
            box-sizing: border-box !important;
        }

        &__button {
            border-radius: 0 4px 4px 0;
            height: 40px;
            max-width: 150px;
            width: 100%;
            min-width: 70px;
            font-size: 16px;
            cursor: pointer;
        }

        &__error {
            position: absolute;
            bottom: 0;
            left: 50%;
            color: darkred;
            font-size: 13px;
            text-align: center;
            transform: translateX(-50%);
        }
    }

    .current-weather {
        max-width: 500px;
        width: 100%;
        margin: 20px auto;

        &__container {
            position: relative;
            border: {
                width: 1px;
                color: var(--primary);
                style: solid;
                radius: 5px;
            };
            padding: 10px 15px;
        }

        &__loader {
            text-align: center;
        }

        &__controls {
            position: absolute;
            top: 70px;
            right: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media only screen and (max-width: 480px) {
                position: static;
                flex-direction: row;
                justify-content: center;
                margin: 20px 0 10px;
            }

            button {
                min-width: 30px;
                width: 30px;
                height: 30px;
                text-align: center;
                cursor: pointer;
                border: none;
                background: none;
            }

            button + button {
                margin-top: 15px;
                transform: translateX(1px);
                fill: darkred;

                @media only screen and (max-width: 480px) {
                    margin: {
                        top: 0;
                        left: 30px;
                    };
                }
            }
        }

    }
</style>