<template>
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__container">
                <a href="#" class="logo">WeatherApp</a>
                <ul class="share">
                    <li
                            v-for="share in shares"
                            :key="share.name"
                            class="share__item"
                    >
                        <a
                                :href="share.href"
                                v-html="share.icon"
                                class="share__icon"
                                :title="share.name"
                                :target="share.target ? share.target : '_blank'"
                        >
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        data: () => ({
            shares: [
                {
                    name: 'heroku',
                    href: 'https://mini-the-weather-app.herokuapp.com/',
                    icon: `<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path style="fill:#564D80;" d="M414.5,0H252.75l-75,256l75,256H414.5c33.084,0,60-26.916,60-60V60C474.5,26.916,447.584,0,414.5,0z"
                                />
                            <path style="fill:#8062A7;" d="M97.5,0c-33.084,0-60,26.916-60,60v392c0,33.084,26.916,60,60,60h155.25V0H97.5z"/>
                            <path style="fill:#EFF6F9;" d="M348.006,213.218c-17.79-15.071-41.893-21.397-66.121-17.36l-29.135,4.856l-30,30.828l30,30
                                l38.998-6.5c6.897-1.15,13.106,0.256,17.476,3.958c4.37,3.702,6.776,9.593,6.776,16.587V452h60V275.586
                                C376,251.021,365.797,228.289,348.006,213.218z"/>
                            <g>
                                <polygon style="fill:#FFFFFF;" points="196,210.172 196,60 136,60 136,281 252.75,261.541 252.75,200.714 	"/>
                                <polygon style="fill:#FFFFFF;" points="136,349 196,394 136,439 	"/>
                            </g>
                            <path style="fill:#EFF6F9;" d="M369.153,120.858C373.665,101.123,376,80.743,376,60h-60c0,21.152-3.147,41.579-8.969,60.858H369.153z"/>
                           </svg>`,
                    target: '_self'
                },
                {
                    name: 'gitlab',
                    href: 'https://gitlab.com/vladimirdvch/weather-app',
                    icon: `<svg class="tanuki-logo" viewBox="0 0 36 36">
                              <path class="tanuki-shape tanuki-left-ear" fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z"></path>
                              <path class="tanuki-shape tanuki-right-ear" fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"></path>
                              <path class="tanuki-shape tanuki-nose" fill="#e24329" d="M18,34.38 3,14 33,14 Z"></path>
                              <path class="tanuki-shape tanuki-left-eye" fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z"></path>
                              <path class="tanuki-shape tanuki-right-eye" fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z"></path>
                              <path class="tanuki-shape tanuki-left-cheek" fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"></path>
                              <path class="tanuki-shape tanuki-right-cheek" fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"></path>
                            </svg>`
                },
                {
                    name: 'linkedIn',
                    href: 'https://www.linkedin.com/in/vladimir-dudkevych-2a92a0163/',
                    icon: `<svg fill="#418cb2" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                               <path d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm-74.390625 387h-62.347656v-187.574219h62.347656zm-31.171875-213.1875h-.40625c-20.921875 0-34.453125-14.402344-34.453125-32.402344 0-18.40625 13.945313-32.410156 35.273437-32.410156 21.328126 0 34.453126 14.003906 34.859376 32.410156 0 18-13.53125 32.402344-35.273438 32.402344zm255.984375 213.1875h-62.339844v-100.347656c0-25.21875-9.027343-42.417969-31.585937-42.417969-17.222656 0-27.480469 11.601563-31.988282 22.800781-1.648437 4.007813-2.050781 9.609375-2.050781 15.214844v104.75h-62.34375s.816407-169.976562 0-187.574219h62.34375v26.558594c8.285157-12.78125 23.109375-30.960937 56.1875-30.960937 41.019531 0 71.777344 26.808593 71.777344 84.421874zm0 0"/>
                           </svg>`
                }
            ]
        })
    }
</script>

<style lang="scss" scoped>

    .footer {
        &__container {
            display: flex;
            align-items: center;
            padding: {
                top: 20px;
                bottom: 20px;
            };
        }
    }

    .logo {
        font-size: 14px;
        color: var(--primary);
    }

    .share {
        margin: {
            left: auto;
            right: 50px;
        };
        display: flex;
        align-items: center;

        &__item {
            & + * {
                margin-left: 10px;
            }
        }

        &__icon {
            display: block;
            width: 24px;
            height: 24px;
        }
    }

</style>