<template lang="html">
    <header class="header">
        <div class="wrapper">
            <div class="header__container">
                <a href="#" class="logo">WeatherApp</a>

                <div class="weather">
                    <ul class="weather__list" v-if="geolocationStatus">
                        <li class="weather__item city">{{ defaultWeather.name }}</li>
                        <li class="weather__item degrees">{{ defaultWeather.temp }} &deg;С</li>
                        <li class="weather__item icon">
                            <img :src="`http://openweathermap.org/img/w/${defaultWeather.icon}.png`" alt="">
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </header>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        computed: {
            ...mapGetters(['defaultWeather', 'geolocationStatus'])
        }
    }
</script>

<style lang="scss" scoped>
    .header {
        &__container {
            height: 68px;
            display: flex;
            align-items: center;
        }
    }

    .logo {
        color: var(--primary);
        font-weight: bold;
    }

    .weather {
        margin: {
            left: auto;
            right: 20px;
        };

        &__list {
            display: flex;
            align-items: center;


            @media only screen and (max-width: 480px) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &__item {

            &.city {
                font-size: 12px;
                transform: translateY(2px);

                @media only screen and (max-width: 480px) {
                    width: 100%;
                    text-align: center;
                }
            }

            &.degrees {
                margin: 0 10px;
                font-size: 15px;
            }
            &.icon {
                width: 30px;
                height: 30px;

                img {
                    max-width: 100%;
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }
</style>