<template lang="html">
    <main>
        <Sliding-Panel />
        <Find-City-Weather />
        <User-Weathers-List />
    </main>
</template>

<script>
    import SlidingPanel from './Sliding_Panel';
    import FindCityWeather from './Find_City_Weather';
    import UserWeathersList from './User_Weathers_List';

    export default {
        components: {
            'Sliding-Panel': SlidingPanel,
            'Find-City-Weather' : FindCityWeather,
            'User-Weathers-List': UserWeathersList
        }
    }
</script>

<style lang="scss" scoped>

</style>