<template lang="html">
    <div class="modal" ref="modal" v-show="modal">
        <div class="modal__container">
            <button type="button" class="modal__close" ref="close">
                <svg viewBox="0 0 475.2 475.2">
                    <use xlink:href="#close" />
                </svg>
            </button>
            <div class="modal__loader" v-show="loading">
                <img src="../assets/images/loader.gif" alt="">
            </div>
            <Current-Weather :weather="currentWeather" v-show="!loading" />
        </div>
    </div>
</template>

<script>
    import {eventEmitter} from "../main";
    import CurrentWeather from './Current_Weather';

    export default {
        components: {
            'Current-Weather' : CurrentWeather
        },
        data: () => ({
            modal: false,
            currentWeather: {},
            loading: false
        }),
        created: function () {
            eventEmitter.$on('showModal', (name) => {
                this.modal = true;
                this.getCurrentWeather(name)
            })
        },
        mounted: function () {
            this.customCloseModal();
        },
        methods: {
            getCurrentWeather: async function (name) {
                document.body.style.overflow = 'hidden';
                this.loading = true;
                this.currentWeather = await this.$store.dispatch('findCurrentWeatherOfCity', {
                    city: name,
                    isNew: false
                });
                this.loading = false;
            },
            customCloseModal: function () {
                let {modal, close} = this.$refs;
                document.addEventListener('click', (event) => {
                    document.body.style.overflow = '';
                    let e = event || window.event,
                        et = e.target || e.srcElement;

                    if (et === modal || et === close || close.contains(et)) {
                        this.modal = false;
                        this.currentWeather = {}
                    }
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(#000, 0.4);
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        max-height: 100%;

        &__container {
            position: relative;
            max-width: 500px;
            width: 100%;
            min-height: 150px;
            background-color: #fff;
            border-radius: 8px;
            padding: 10px 15px;
        }

        &__close {
            position: absolute;
            top: -15px;
            right: -15px;
            background: #fff;
            border: none;
            width: 30px;
            height: 30px;
            fill: var(--primary);
            border-radius: 50%;
            cursor: pointer;
        }

        &__loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
</style>