<template lang="html">
    <div class="sliding-panel">
        <ul class="cities-list" :class="{active: slidingWeatherArray && slidingWeatherArray.length > 0}">
            <li
                v-for="weather in slidingWeatherArray"
                :key="weather.id"
                class="cities-item"
            >
                <span class="cities-item__name">{{ weather.name }}, {{ weather.country }}</span>
                <span class="cities-item__temp">{{ weather.temp }} &deg;С</span>
                <span class="cities-item__image"><img :src="`http://openweathermap.org/img/w/${weather.icon}.png`" alt=""></span>
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    export default {
        created: function () {
          this.$store.dispatch('slidingWeather');
        },
        computed: {
            ...mapGetters(['slidingWeatherArray'])
        }
    }
</script>

<style lang="scss" scoped>
    .sliding-panel {
        position: relative;
        overflow: hidden;
        height: 60px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        &:before, &:after {
            display: inline-block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 20%;
            z-index: 1;
        }

        &:before {
            left: 0;
            background: linear-gradient(to right, rgba(#fff, 1), transparent);
        }

        &:after {
            right: 0;
            background: linear-gradient(to left, rgba(#fff, 1), transparent);
        }
    }

    .cities-list {
        position: absolute;
        top: 50%;
        right: 0;
        display: flex;
        will-change: transform, right;
        z-index: 0;
        transform: translate(100%, -50%);

        &.active {
            animation: sliding 35s linear 2s infinite;
        }
    }

    .cities-item {
        display: flex;
        align-items: center;

        & + .cities-item { margin-left: 40px; }

        & > * {
            white-space: nowrap;
        }

        &__name {
            font-size: 12px;
        }

        &__temp {
            margin: 0 0 0 15px;
        }

        &__image {
            width: 30px;
            height: 30px;

            img {
                max-width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    @keyframes sliding {
        from {
            right: 0;
            transform: translate(100%, -50%);
        }

        to {
            right: 100%;
            transform: translate(-10%, -50%);
        }
    }
</style>