<template lang="html">
    <div class="saved-list__cities" v-show="display" >
        <a href="#" class="saved-list__cities-item add"
           v-if="userSavedCitiesList && userSavedCitiesList.length === 0"
           @click="focusOnInput"
        >
            Добавить
        </a>

        <a href="#" class="saved-list__cities-item"
           v-for="city in userSavedCitiesList"
           :key="city.id"
           @click.prevent.stop="showCityWeather(city.name)"
        >
            <span>{{ city.name }}</span>
            <button type="button"
                    class="saved-list__cities-delete"
                    :disabled="city.default"
                    @click.stop="deleteCityFromList(city.id)"
            >
                <svg viewBox="-40 0 427 427.00131">
                    <use xlink:href="#delete-item"/>
                </svg>
            </button>
        </a>
    </div>
</template>

<script>
    import {eventEmitter} from "../main";
    import {mapGetters} from 'vuex';

    export default {
        props: {
            display: {type: Boolean}
        },
        computed: {
            ...mapGetters(['userSavedCitiesList', 'geolocationStatus'])
        },
        methods: {
            showCityWeather: function (name) {
                eventEmitter.$emit('showModal', name)
            },
            deleteCityFromList: async function (id) {
                const response = await this.$store.dispatch('deleteCityFromUserList', id);
                let message = 'Город удален';
                if (response) {
                    this.$M.toast({html: message});
                }
            },
            focusOnInput: function () {
                let input = document.querySelector('#city');
                input.focus();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .saved-list {
        &__cities {
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            margin-top: 20px;

            &.empty {
                padding-top: 20px;
            }

            &-item {
                display: flex;
                align-items: center;
                height: 35px;
                padding: 0 10px;
                color: #26a69a;

                @media only screen and (max-width: 480px) {
                    font-size: 14px;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #e0e0e0;
                }

                &.add {
                    color: var(--secondary);
                    font-size: 14px;
                }
            }

            &-delete {
                width: 20px;
                min-width: 20px;
                height: 20px;
                background: none;
                border: none;
                margin-left: auto;

                &:not([disabled]) {
                    fill: darkred;
                    cursor: pointer;
                }

                &[disabled] {
                    fill: var(--primary);
                    opacity: 0.3;
                }
            }
        }
    }
</style>