<template lang="html">
    <div class="saved-list">
        <div class="wrapper">
            <div class="saved-list__container">
                <button type="button" class="saved-list__button" @click.prevent="display = !display">
                    {{ display ? 'Скрыть список' : 'Показать список' }}
                    <span v-if="userSavedCitiesList && userSavedCitiesList.length">({{ userSavedCitiesList.length }})</span>
                </button>

                <Weathers-List-Form :display="display" />

            </div>
        </div>
    </div>
</template>

<script>

    import UserWeathersListForm from './User_Weathers_List_Form';
    import {mapGetters} from 'vuex';

    export default {
        components: {
            'Weathers-List-Form': UserWeathersListForm
        },
        data: () => ({
            display: false
        }),
        computed: {
            ...mapGetters(['userSavedCitiesList'])
        }
    }
</script>

<style lang="scss" scoped>
    .saved-list{
        &__button {
            background: none;
            border: none;
            text-decoration: underline;
            text-align: center;
            cursor: pointer;
        }
    }
</style>