<template lang="html">
    <div id="app" ref="app">
        <Svg-Container />
        <Header />
        <Main />
        <Footer />
        <Modal />
    </div>
</template>

<script>

    import SvgContainer from './components/Svg_Container';
    import Header from './components/Header';
    import Main from './components/Main';
    import Footer from './components/Footer';
    import Modal from './components/Modal';

    export default {
        components: {
            'Svg-Container': SvgContainer,
            Header,
            Main,
            Footer,
            Modal
        },
        data: () => ({
            defaultWeather: {}
        }),
        created: function () {
            this.getUserGeolocation()
        },
        mounted: function () {
            this.$refs.app.style.minHeight = `${window.innerHeight}px`;
        },
        methods: {
            // получение местонахождения пользователя
            getUserGeolocation: function () {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        position => this.$store.dispatch('getDefaultWeatherInfo', position.coords),
                        error => this.$store.dispatch('deleteDefaultWeatherInfo')
                    )
                } else {
                    console.log('geolocation disable')
                }
            }
        }
    }
</script>

<style lang="scss">

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    ul {
        list-style: none;
    }

    a, a:hover {
        text-decoration: none;
    }

    @mixin font-face($path, $name, $weight: normal, $style: normal) {
        @font-face {
            font-display: swap;
            font-family: $name;
            font-weight: $weight;
            font-style: $style;
            src: url("./assets/fonts/#{$path}/#{$path}.ttf") format("truetype"),
                 url("./assets/fonts/#{$path}/#{$path}.woff") format("woff")
        }
    }

    @include font-face("Montserrat-Medium", "Montserrat");
    @include font-face("Montserrat-Bold", "Montserrat", 700);

    :root {
        --ff: "Montserrat";
        --primary: #333;
        --secondary: #FF4500;
    }

    body {
        font: {
            family: var(--ff), Helvetica, Arial, sans-serif;
            size: 18px;
            weight: normal;
        };
        color: var(--primary);
    }

    #app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;

        & > *:not(header):not(footer):not(.modal) {
            flex-grow: 1;
        }
    }

    .wrapper {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    .flat {
        background: none;
        border: none;
    }

</style>
